.signin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(255, 255, 255);
    font: rgb(0,0,0);
    font-family: "Ubuntu", sans-serif;
  }
  
  .signin-card {
    width: 80%;
    text-align: center;
    margin: 20px;
  }

  .signin-btn{
    margin-top: 10px;
    background-color: rgb(29,161,242) !important;
    /* border-radius: 20px !important; */
    width: 150px;
    font: rgb(255,255,255);
  }

  
  
  .google-login-btn {
    width: 300px;
    text-align: center;
    background-color: rgb(29,161,242) !important;
    font: rgb(255,255,255);
  }

  .signin-form{
    display: flex;
    justify-content: center;
  }